.blog-01-09-2024-img {
  width: 20%;
}

@media screen and (max-width: 1300px) {
  img {
    position: static;
    display: block;
    margin: 2% auto auto auto;
    max-width: 70%;
    min-width: 40%;
  }
}
