body {
  font-family: "JetBrainsMono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(122, 28, 172);
  color-scheme: light dark;
  scrollbar-color: rgb(173, 73, 225) rgb(46, 7, 63);
}

h1,
h3 {
  font-weight: 600;
  color: rgb(46, 7, 63);
}

h3 {
  padding-top: 1em;
}

p {
  font-weight: 100;
  color: rgb(235, 211, 248);
}

a {
  color: rgb(235, 211, 248);
}

s {
  color: rgb(134, 85, 126);
}

.header {
  padding: 1em;
  background-color: rgb(173, 73, 225);
  border-radius: 25px;
}

.info-panel {
  padding: 1em;
  padding-top: 0;
  margin-right: 50%;
  background-color: rgb(173, 73, 225);
  border-radius: 25px;
}

.info-image {
  width: 20%;
  margin-top: 2%;
  margin-left: 75%;
  position: absolute;
}

.bio-image {
  width: 20%;
  margin-left: 52%;
  position: absolute;
}

.code-image {
  width: 15%;
  margin-left: 70%;
  position: absolute;
}

.date {
  color: rgb(229, 181, 255);
}

@media screen and (max-width: 1300px) {
  .info-image,
  .bio-image,
  .code-image {
    position: static;
    display: block;
    margin: 2% auto auto auto;
    max-width: 40%;
    min-width: 35%;
    width: auto;
  }

  .info-panel {
    margin-right: 0;
  }
}
